.app {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.splitJoinButton {
  padding: 10px;
  margin: auto;
  border: 2px solid chocolate;
  border-radius: 5px;
  background: burlywood;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.section {
  display: flex;
  flex-direction: column;

  width: min-content;
  padding: 25px;
  margin: 10px auto;

  text-align: center;

  color: lightyellow;
  border: 2px solid chocolate;
  border-radius: 5px;
}

.content{
  display: grid;
  height: 100px;
  border: 2px solid chocolate;
  border-radius: 5px;
}

.buttons {
  border: 2px solid chocolate;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-width: 200px;


  text-align: center;
  margin-top: 25px;
}
