.app {
  margin: auto;
  padding: 20px;
  width: min-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  border: 2px solid chocolate;
  border-radius: 5px;
}

.buttons {
  margin: auto;
  text-align: center;
  width: 150px;
}

.maxValue {
  color: red;
}

.buttons,
.counter {
  padding: 20px;
  margin: 10px;
  border: 2px solid chocolate;
  border-radius: 5px;
}

.counter {
  background-color: burlywood;
  color: white;
}

.button {
  background-color: burlywood;
  border: 2px solid chocolate;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}

.buttonDisabled {
  opacity: 0.5;
  cursor: auto;
}